{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ 'messages' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'translator'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" ng-app="gitTranslator">
        <div class="panel-heading" ng-controller="headerCtrl">
            {{ 'repositories'|trans({}, 'platforms') }}
        </div>
        <div class="panel-body" ng-controller="contentCtrl">
            <div class="list-group">
                {% for repo, value in repositories %}
                    <a class="list-group-item" href="#" >
                        {{ repo }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}
        var AngularApp = {};
        AngularApp.webDir        = "{{ asset('') }}";
        AngularApp.locale        = "{{ app.request.locale ~ '_' ~ app.request.locale|upper }}";
    </script>

    <script type="text/javascript" src={{ asset('bundles/clarolinetranslator/js/app.js') }}></script>
{% endblock %}