{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ 'translator' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'translator'|trans({}, 'translator'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div id="translator-panel" class="panel panel-default" ng-app="GitTranslator">
        <div class="panel-body">
            <translator></translator>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="http://fontastic.s3.amazonaws.com/Jnf54BZCm7mSjGCxNRbfp3/icons.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ url('bazinga_jstranslation_js', {domain: 'translator'}) }}"></script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}
        {% set isAdmin = is_granted('ROLE_TRANSLATOR_ADMIN') %}
        {% if not isAdmin %} {% set isAdmin = 0 %} {% endif %}

        var AngularApp = {};
        AngularApp.locale  = "{{ app.request.locale ~ '_' ~ app.request.locale|upper }}";
        AngularApp.isAdmin = {{ isAdmin }};
    </script>

    <script type="text/javascript" src={{ hotAsset('dist/claroline-translator-translator.js') }}></script>
{% endblock %}
