{% extends 'ClarolineCoreBundle:Desktop:layout.html.twig' %}

{% block title %}{{ 'translator' | trans({}, 'platform') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'translator'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}
    <div class="panel panel-default" ng-app="gitTranslator">
        <div class="panel-heading">
            {{ 'repositories'|trans({}, 'platforms') }}
        </div>
        <div class="panel-body" ng-controller="contentCtrl">
            <div class="col-md-2">
                <div>
                    <locales class="locale-list">
                    </locales>
                </div>
                <div>
                    <repositories class="list-group">
                    </repositories>
                </div>
            </div>
            <div class="col-md-10">
                <div>
                    <preferedlang class="locale-list">
                    </preferedlang>
                </div>
                <div>
                    <translations>
                    </translations>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link 
        rel="stylesheet" 
        href="{{ asset('bundles/clarolineangulardatatable/js/release/dataTable.css') }}"
    />
    <link 
        rel="stylesheet" 
        href="{{ asset('bundles/clarolineangulardatatable/js/release/material.css') }}"
    />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Angular JS #}
    {% javascripts debug=false filter='jsmin' output='vendor/claroline/js/angular.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-sanitize.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-route.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-resource.min.js'
        '@InnovaAngularJSBundle/Resources/public/js/angular-touch.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Angular UI #}
    {% javascripts debug=false filter='jsmin' output='vendor/angular/angular-ui.js'
        '@InnovaAngularUIBootstrapBundle/Resources/public/js/*'
        '@InnovaAngularUITreeBundle/Resources/public/js/*'
        '@InnovaAngularUIPageslideBundle/Resources/public/js/*'
        '@InnovaAngularUITinyMCEBundle/Resources/public/js/*'
        '@InnovaAngularUITranslationBundle/Resources/public/js/*'
        '@InnovaAngularUIResourcePickerBundle/Resources/public/js/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="{{ asset('bundles/clarolineangulardatatable/js/release/dataTable.helpers.min.js') }}">
    </script>

    {# Set some vars needed by Angular parts #}
    <script type="text/javascript">
        {# Make Twig variables accessibles by AngularJS #}
        var AngularApp = {};
        AngularApp.webDir        = "{{ asset('') }}";
        AngularApp.locale        = "{{ app.request.locale ~ '_' ~ app.request.locale|upper }}";
    </script>

    <script type="text/javascript" src={{ asset('bundles/clarolinetranslator/js/app.js') }}></script>
{% endblock %}